<!DOCTYPE html>
{% include 'gg.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/A2.css' %}" />
</head>
<body>
    <div class="box">
        <form method="POST" class="post-form" action="/company_information/update_customer/{{customer.CustomerID}}">
            {% csrf_token %}
            <div class="container">
                <h3>Customer Update Details</h3>
                <div class="form-group row">
                    <label class="col-md-1 col-form-label"></label>
                    <div class="col-md-4">
                    </div>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Customer ID</span>
                    <input type="text" class="form-control" placeholder="CustomerID" aria-label="Username" name="CustomerID" id="id_CustomerID" required maxlength="150" value="{{ customer.CustomerID }}">
                    <span class="input-group-text">Customer Name</span>
                    <input type="text" class="form-control" placeholder="customer_name" name="customer_name" id="id_customer_name" required maxlength="100" value="{{ customer.customer_name }}">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Address Ship</span>
                    <textarea class="form-control" name="address_ship" id="id_address_ship" required maxlength="100" value="{{ customer.address_ship }}">{{ customer.address_ship }}</textarea>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">address Sold</span>
                    <textarea class="form-control" name="address_sold" id="id_address_sold" required maxlength="100" value="{{ customer.address_sold }}">{{ customer.address_sold }}</textarea>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Address Bill</span>
                    <textarea class="form-control" name="address_bill" id="id_address_bill" required maxlength="100" value="{{ customer.address_bill }}">{{ customer.address_bill }}</textarea>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Trem</span>
                    <textarea class="form-control" type="text" name="term" id="id_term" required maxlength="100" value="{{ customer.term }}">{{ customer.term }}</textarea>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Email</span>
                    <input type="text" class="form-control" placeholder="email" aria-label="Username" name="email" id="id_email" required maxlength="254" value="{{ customer.email }}">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Phone1</span>
                    <input type="text" class="form-control" placeholder="phone1" name="phone1" id="id_phone1" required maxlength="150" value="{{ customer.phone1 }}">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Phone2</span>
                    <input type="text" class="form-control" placeholder="phone2" name="phone2" id="id_phone2" required maxlength="150" value="{{ customer.phone2 }}">
                </div>

                <button type="submit" class="btn btn-primary">Update</button>
                <button href="customer" class="btn btn-success">return</button>

            </div>

        </form>
    </div>
</body>
</html>  