<!DOCTYPE html>
{% include 'gg.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/A2.css' %}" />
</head>
<body>
    <div class="box">
        <form method="POST" class="post-form" action="/projcet_management/update_project_sales_item/{{project_sales_item.ProjectSalesItemID}}">
            {% csrf_token %}
            <div class="container">
                <h3>ProjectSalesItem Update Details</h3>
                <div class="form-group row">
                    <label class="col-md-1 col-form-label"></label>
                    <div class="col-md-4">
                    </div>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">ProjectSalesItem ID</span>
                    <input type="text" class="form-control" placeholder="ProjectSalesItemID" name="ProjectSalesItemID" id="id_ProjectID" required maxlength="254" value="{{ project_sales_item.ProjectSalesItemID }}">
                    <span class="input-group-text">ProjectSalesItem Name </span>
                    <input type="text" class="form-control" placeholder="project_name" name="project_name" id="id_project_name" required maxlength="150" value="{{ project_sales_item.project_name }}">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Sales ID</span>
                    <input type="text" class="form-control" placeholder="SalesID" name="SalesID" id="id_SalesID" required maxlength="150" value="{{ project_sales_item.SalesID }}">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Customer ID</span>
                    <input type="text" class="form-control" placeholder="CustomerID" name="CustomerID" id="id_CustomerID" required maxlength="150" value="{{ project_sales_item.CustomerID }}">
                    <span class="input-group-text">Customerpart ID </span>
                    <input type="text" class="form-control" placeholder="customerpart_id" name="customerpart_id" id="id_customerpart_id" required maxlength="150" value="{{ project_sales_item.customerpart_id }}">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Product ID</span>
                    <input type="text" class="form-control" placeholder="ProductID" name="ProductID" id="id_ProductID" required maxlength="150" value="{{ project_sales_item.ProductID }}">
                    <span class="input-group-text">Product Name  </span>
                    <input type="text" class="form-control" placeholder="product_name" name="product_name" id="id_product_name" required maxlength="150" value="{{ project_sales_item.product_name }}">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Quantity</span>
                    <input type="text" class="form-control" placeholder="quantity" name="quantity" id="id_quantity" required maxlength="150" value="{{ project_sales_item.quantity }}">
                    <span class="input-group-text">unitprice</span>
                    <input type="text" class="form-control" placeholder="unitprice" name="unitprice" id="id_unitprice" required maxlength="150" value="{{ project_sales_item.unitprice }}">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">ProjectSalesItem Date </span>
                    <input type="text" class="form-control" placeholder="project_date" name="project_date" id="id_project_date" required maxlength="150" value="{{ project_sales_item.project_date }}">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">term </span>
                    <input type="text" class="form-control" placeholder="term" name="term" id="id_term" required maxlength="150" value="{{ project_sales_item.term }}">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">start_time</span>
                    <input type="datetime-local" class="form-control" placeholder="start_time" aria-label="Username" name="start_time" id="id_start_time" required maxlength="100" value="{{ project_sales_item.start_time }}">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">finish_time</span>
                    <input type="datetime-local" class="form-control" placeholder="finish_time" aria-label="Username" name="finish_time" id="id_finish_time" required maxlength="100" value="{{ project_sales_item.finish_time }}">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Delivery Datetime</span>
                    <input type="datetime-local" class="form-control" placeholder="DeliveryDatetime" name="DeliveryDatetime" id="id_DeliveryDatetime" required maxlength="150" value="{{ project_sales_item.DeliveryDatetime }}">
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
                <a href="/marketing/project_sales_item" class="btn btn-success">Return ProjectSalesItem</a>
                <a href="/purchasing_material/require" type="submit" class="btn btn-info text-white ">To Require </a>
            </div>

        </form>
    </div>
</body>
</html>  