<!DOCTYPE html>
<html lang="en">
{% include 'gg.html' %}
{% include 'Master.html' %}
<head>
    <meta charset="UTF-8">
    <title>Employee Records</title>
    {% load static %}
    <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"/>  !-->
</head>
<body>
    {% block title %}{% endblock %}
    {% block content %}
    {% if user.is_authenticated %}
    {% else %}
    <h1>You are not logged in(你还没有登录)</h1>
    <h1><a type="button" class="btn btn-primary" href="{% url 'login' %}">Log In(登入)</a></h1>
    <h1><a type="button" class="btn btn-success" href="{% url 'signup' %}">Sign Up(注册)</a></h1>
    {% endif %}
    {% endblock %}
    {% if user.is_authenticated %}
    <!--startprint-->
    <h1 class="p-3 mb-2 bg-primary text-white">Material </h1>
    <table class="table table-striped table-bordered table-sm">
        <thead class="thead-dark">
            <tr>
                <th>material ID</th>
                <th>material Name</th>
                <!--<th>MaterialSupplierID</th>
            <th>Material Supplier Name</th>-->
                <th>measure_unit</th>
                <th>tybe</th>
                <th>Form</th>
                <th>thickness</th>
                <th>width </th>
                <th>length</th>
                <th>pltch</th>
                <th>default_stock_locatiuon</th>
                <th>quantity</th>
                <th>unit_price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for material in materials %}
            <tr>
                <td>{{ material.MaterialID }}</td>
                <td>{{ material.material_name }}</td>
                <td>{{ material.measure_unit }}</td>
                <td>{{ material.tybe }}</td>
                <td>{{ material.Form}}</td>
                <td>{{ material.thickness}}</td>
                <td>{{ material.usage}}</td>
                <td>{{ material.width }}</td>
                <td>{{ material.length }}</td>
                <td>{{ material.pltch }}</td>
                <td>{{ material.default_stock_locatiuon }}</td>
                <td>{{ material.quantity}}</td>
                <td>{{ material.unit_price}}</td>
                <td>
                    <a type="button" href="edit_material/{{ material.MaterialID }}">
                        <span class="btn btn-primary">
                            <!-- Alerts    图标-->
                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="信息：">
                                <use xlink:href="#info-fill">
                                </use>
                            </svg>Edit
                        </span>
                    </a>
                    <!-- Example single danger button -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="危险：">
                                <use xlink:href="#exclamation-triangle-fill">
                                </use>
                            </svg>Delete
                        </button>
                        <ul1 class="dropdown-menu">
                            <p>Are you sure you want to delete?</p>
                            <p>(你确定要删除吗?)</p>
                            <a href="delete_material/{{ material.MaterialID }}" class="btn btn-danger">
                                <!-- Alerts    图标-->
                                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="危险：">
                                    <use xlink:href="#exclamation-triangle-fill">
                                    </use>
                                </svg>Delete
                            </a>
                        </ul1>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!--endprint-->
    <br>
    <br>
    <center>
        <a href="emp_material" class="btn btn-success">Add New Record</a>
    </center>
    {% if materials %}
    <nav aria-label="Page navigation example">
        {% for material in materials %}
        {% endfor %}
        <span class="current">
            Page {{ materials.number }} of {{ materials.paginator.num_pages }}
        </span>
        <ul class="pagination">
            {% if materials.has_previous %}
            <li class="page-item"><a class="page-link" href="?page1={{ materials.previous_page_number }}"> previous </a></li>
            {% endif %}
            <li class="page-item"><a class="page-link" href="?page1=1">1</a></li>
            <li class="page-item"><a class="page-link" href="?page1=2">2</a></li>
            <li class="page-item"><a class="page-link" href="?page1=3">3</a></li>
            <li class="page-item"><a class="page-link" href="?page1=4">4</a></li>
            {% if materials.has_next %}
            <li class="page-item"><a class="page-link" href="?page1={{ materials.next_page_number }}"> next </a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
    <input type="button" value="print this page(打印此页面)" onclick="printpage()" />
    <script>
        function printpage() {
            let oldStr = window.document.body.innerHTML; // 获取body的内容<!-- 可保存成 pdf档案  -->
            let start = "<!--startprint-->"; // 开始打印标识, 17个字符
            let end = "<!--endprint-->"; // 结束打印标识
            let newStr = oldStr.substr(oldStr.indexOf(start) + 17); // 截取开始打印标识之后的内容
            newStr = newStr.substring(0, newStr.indexOf(end)); // 截取开始打印标识和结束打印标识之间的内容
            window.document.body.innerHTML = newStr; // 把需要打印的指定内容赋给body
            window.print(); // 调用浏览器的打印功能打印指定区域
            window.document.body.innerHTML = oldStr; // body替换为原来的内容
        }
    </script>
</body>
</html>
{% endif %}




