<!DOCTYPE html>
{% include 'gg.html' %}
{% block title %}{% endblock %}
{% block content %}
{% if user.is_authenticated %}
{% else %}
{% include 'home.html' %} <!-- 登录和注册 -->
{% endif %}
{% endblock %}
{% if user.is_authenticated %}
{% load widget_tweaks %}<!-- 用在改 form (使用 |attr:"class:form-control" ) -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/A2.css' %}" />
</head>
<body>
    <div class="box">
        <form method="POST" class="post-form" action="emp_require">
            {% csrf_token %}
            <div class="container">
                <h3>Request Enter Details</h3>
                <div class="form-group row">
                    <label class="col-md-1 col-form-label"></label>
                    <div class="col-sm-4">
                    </div>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Request ID</span>
                    {{ form.RequireID |attr:"class:form-control"|attr:"cols:20" }}
                    <span class="input-group-text">BOM ID</span>
                    {{ form.BOMID |attr:"class:form-control"|attr:"cols:20" }}
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Project Sales Item ID</span>
                    {{ form.ProjectSalesItemID |attr:"class:form-control"|attr:"cols:20" }}
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Product ID</span>
                    {{ form.ProductID |attr:"class:form-control"|attr:"cols:20" }}
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Material ID</span>
                    {{ form.MaterialID |attr:"class:form-control"|attr:"cols:20" }}
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Product Usage</span>
                    {{ form.product_usage |attr:"class:form-control"|attr:"cols:20" }}
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">QTY Project </span>
                    {{ form.QTY_project |attr:"class:form-control"|attr:"cols:20" }}
                    <span class="input-group-text">QTY Need </span>
                    {{ form.QTY_need |attr:"class:form-control"|attr:"cols:20" }}
                    <span class="input-group-text">QTY Stock </span>
                    {{ form.QTY_stock |attr:"class:form-control"|attr:"cols:20" }}
                    <span class="input-group-text">QTY Purchase </span>
                    {{ form.QTY_purchase |attr:"class:form-control"|attr:"cols:20" }}
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Remarks</span>
                    {{ form.remarks |attr:"class:form-control"|attr:"cols:20" }}
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Quantity</span>
                    {{ form.quantity |attr:"class:form-control"|attr:"cols:20" }}
                </div>
                <center><button type="submit" class="btn btn-primary">Submit</button></center>
            </div>
        </form>
    </div>
</body>
</html>
{% endif %}