<!DOCTYPE html>
<style>
    p, div, h3, h4, a, h1 {
        text-align: center;
    }
</style>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    {% load static %}
    <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"/>  !-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<div class="header">
    <form method="POST" class="post-form" action="/production/update_product/{{product.ProductID}}">
        {% csrf_token %}
        <div class="container">
            <h3>Product Update Details</h3>
                <br>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Product ID</span>
                    <input type="text" class="form-control" placeholder="ProductID" aria-label="Username"  name="ProductID" id="id_ProductID" required maxlength="254" value="{{ product.ProductID }}">
                </div>
                <br>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Process ID</span>
                    <input type="text" class="form-control" placeholder="ProcessID" aria-label="Server"  name="ProcessID" id="id_process_id" required maxlength="150" value="{{ product.ProcessID }}">
                </div>
                <br>
                <div class="input-group mb-3">
                    <span class="input-group-text">Bom ID</span>
                    <input type="text" class="form-control" placeholder="BOMID" aria-label="Username" name="BOMID" id="id_BOMID" required maxlength="100" value="{{ product.BOMID }}">
                    <span class="input-group-text">Date </span>
                    <input type="text" class="form-control" placeholder="date" aria-label="Server" name="date" id="id_date" required maxlength="100" value="{{ product.date }}">
                </div>
                <br>
                <div class="input-group mb-3">
                    <span class="input-group-text">Quantity</span>
                    <input type="text" class="form-control" placeholder="quantity" aria-label="Username"  name="quantity" id="id_quantity" required maxlength="100" value="{{ product.quantity }}">
                    <span class="input-group-text">Product Type  </span>
                    <input type="text" class="form-control" placeholder="product_type" aria-label="Server"  name="product_type" id="id_product_type" required maxlength="100" value="{{ product.product_type }}">
                </div>
                <br>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">unit_price</span>
                    <input type="text" class="form-control" placeholder="unit_price" aria-label="Server" name="unit_price" id="id_unit_price" required maxlength="150" value="{{ product.unit_price }}">
                </div>
                <br>
                <h4>
                    start_time:<input type="datetime-local" id="id_start_time" name="start_time" required maxlength="25" value="{{ product.start_time }}" />
                    finish_time:<input type="datetime-local" id="id_finish_time" name="finish_time" required maxlength="25" value="{{ product.finish_time }}" />
                </h4>
                <button type="submit" class="btn btn-primary">Update</button>
                <button href="product" class="btn btn-success">return</button>
        </div>

    </form>
</div>
</body>
</html>  