<!DOCTYPE html>
{% include 'gg.html' %}
{% block title %}{% endblock %}
{% block content %}
{% if user.is_authenticated %}
{% else %}
{% include 'home.html' %} <!-- 登录和注册 -->
{% endif %}
{% endblock %}
{% if user.is_authenticated %}
{% load widget_tweaks %}<!-- 用在改 form (使用 |attr:"class:form-control" ) -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/A2.css' %}" />
</head>
<body>
    <div class="box">
        <form method="POST" class="post-form" action="emp_customer">
            {% csrf_token %}
            <div class="container">
                <h3>Customer Enter Details</h3>
                <div class="form-group row">
                    <label class="col-md-1 col-form-label"></label>
                    <div class="col-sm-4">
                    </div>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Customer ID</span>
                    {{ form.CustomerID |attr:"class:form-control"|attr:"cols:20" }}
                    <span class="input-group-text">Customer Name</span>
                    {{ form.customer_name |attr:"class:form-control"|attr:"cols:20" }}
                </div>
                <div class="input-group">
                    <span class="input-group-text">Address Ship</span>
                    {{ form.address_ship |attr:"class:form-control"|attr:"cols:20" |attr:"rows:4" }}
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-text">Address Sold</span>
                    {{ form.address_sold |attr:"class:form-control"|attr:"cols:20" |attr:"rows:4" }}
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-text">Address Bill</span>
                    {{ form.address_bill |attr:"class:form-control"|attr:"cols:20" |attr:"rows:4" }}
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-text">Term</span>
                    {{ form.term |attr:"class:form-control"|attr:"cols:20" |attr:"rows:4" }}   <!--<template></template>-->
                </div>
                <br>
                <div class="input-group mb-3">
                    <span class="input-group-text">Email</span>
                    {{ form.email |attr:"class:form-control"|attr:"cols:20" }}
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Phone1</span>
                    {{ form.phone1 |attr:"class:form-control"|attr:"cols:20" }}
                    <span class="input-group-text">Phone2</span>
                    {{ form.phone2 |attr:"class:form-control"|attr:"cols:20" }}
                </div>
                <center><button type="submit" class="btn btn-primary">Submit</button></center>
            </div>
        </form>
    </div>
</body>
</html>
{% endif %} 