<!DOCTYPE html>
{% include 'gg.html' %}
{% block title %}{% endblock %}
{% block content %}
{% if user.is_authenticated %}
{% else %}
{% include 'home.html' %} <!-- 登录和注册 -->
{% endif %}
{% endblock %}
{% if user.is_authenticated %}
{% load widget_tweaks %}<!-- 用在改 form (使用 |attr:"class:form-control" ) -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/A2.css' %}" />
</head>
<body>
    <div class="box">
        <form method="POST" class="post-form" action="emp_delivery">
            {% csrf_token %}
            <div class="container">
                <h3>Delivery Enter Details</h3>
                <div class="form-group row">
                    <label class="col-md-1 col-form-label"></label>
                    <div class="col-sm-4">
                    </div>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Delivery ID</span>
                    {{ form.DeliveryID |attr:"class:form-control"|attr:"cols:20" }}
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Sales ID</span>
                    {{ form.SalesOrderID |attr:"class:form-control"|attr:"cols:20" }}
                    <span class="input-group-text">Sales Name</span>
                    {{ form.sales_name |attr:"class:form-control"|attr:"cols:20" }}
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Custiomer ID</span>
                    {{ form.CustomerID |attr:"class:form-control"|attr:"cols:20" }}
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Product ID</span>
                    {{ form.ProductID |attr:"class:form-control"|attr:"cols:20" }}
                    <span class="input-group-text">Product Name</span>
                    {{ form.product_name |attr:"class:form-control"|attr:"cols:20" }}
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Quantity</span>
                    {{ form.quantity |attr:"class:form-control"|attr:"cols:20" }}
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Unitprice</span>
                    {{ form.unitprice |attr:"class:form-control"|attr:"cols:20" }}
                </div>
                <div class="input-group">
                    <span class="input-group-text">Term</span>
                    {{ form.term |attr:"class:form-control" |attr:"rows:4" }}
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Delivery Datetime</span>
                    {{ form.DeliveryDatetime |attr:"class:form-control"|attr:"cols:20"|attr:"type:datetime-local" }}
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Date</span>
                    {{ form.date |attr:"class:form-control"|attr:"cols:20" }}
                </div>
                <center><button type="submit" class="btn btn-primary">Submit</button></center>
            </div>
        </form>
    </div>
</body>
</html>
{% endif %} 