<!-- templates/registration/login.html -->
{% extends "base.html" %}

div {text-align:center;}

<div >
            <div class="modal-body">
                {% block title %}Log In{% endblock %}

                {% block content %}
                <h2>Log In</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}

            </div>
            <div>
                <!--<a href="http://127.0.0.1:8000/" class="btn btn-secondary"  >Close</a> -->
                <button type="submit" class="btn btn-primary">Log In</button>
                </form>
            </div>
</div>
{% endblock %}