<!-- templates/home.html-->
{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
<button type="button" class="text-white" onclick="In()">In</button>

<script>
    function In() {
        window.location.assign("http://localhost:8000/product_quotation_detail")
    }
</script>
{% else %}
<h3>You are not logged in</h3>
<button type="button" class="text-white" onclick="Log()">Log In(登入)</button>
<button type="button" class="text-white" onclick="Sign()">Sign Up(注册)</button>
<script>
    function Log() {
        window.location.assign("{% url 'login' %}")
    }

    function Sign() {
        window.location.assign("{% url 'signup' %}")
    }
</script>
{% endif %}
{% endblock %}
