<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/A1.css' %}" />
</head>
<body>
    <h2 class=" btn-dark">Master</h2>
    <nav class="navbar bg-light ">
        <div class="container-fluid">
            <nav class="navbar">
                <!-- Navbar content -->
                <ul class="nav nav-pills">
                    <!--        style="--i:1"               -->
                    <li class="nav-item">
                        <a class="nav-link p-2  bg-secondary text-white" aria-current="page" href="{% url 'logout' %}">Log Out</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-2 bg-primary text-white" href="/Progress_Table">Progress Table</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle p-2  bg-danger text-white " data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Product Quotation Detail</a><!-- 1 -->
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/product_quotation_detail">Product Quotation Detail</a></li>
                            <li><a class="dropdown-item" href="/product_quotation_detail/marketing_order">Marketing Order</a></li>
                            <li><a class="dropdown-item" href="/product_quotation_detail/sales_order">Sales Order</a></li><!-- sales_order -->
                            <li><a class="dropdown-item" href="/product_quotation_detail/product_sales_records">Product Sales Records </a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle p-2 bg-warning text-white" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Project Sales Item Management</a><!-- 2 -->
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/project_management/project_sales_item">Project Sales Item </a></li><!-- project_sales_item -->
                            <li><a class="dropdown-item" href="/project_management/planning_new_product_projects ">Planning New Product Projects</a></li>
                            <li><a class="dropdown-item" href="/project_management/project_dashboard">Project Dashboard</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle p-2  bg-success text-white" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Production Product </a><!-- 3 -->
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/production_product/multi_table_view_production_product">Production Product</a></li>
                            <li><a class="dropdown-item" href="/production_product/bom">BOM </a></li>
                            <li><a class="dropdown-item" href="/production_product/process">Process</a></li>
                            <li><a class="dropdown-item" href="/production_product/resource">Resource</a></li>
                            <li><a class="dropdown-item" href="/production_product/machine">Machine</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle p-2 bg-info text-white" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Product Inspection </a><!-- 4 -->
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/product_inspection/multi_table_view_product_inspection">Product Inspection</a></li>
                            <li><a class="dropdown-item" href="/product_inspection/product_good">Product good </a></li>
                            <li><a class="dropdown-item" href="/product_inspection/product_reject">Product Reject</a></li>
                            <li><a class="dropdown-item" href="/product_inspection/packaging">Packaging</a></li>
                            <li><a class="dropdown-item" href="/product_inspection/delivery">Delivery</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle p-2 bg-primary text-white" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Company Information </a><!-- 5 -->
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/company_information/multi_table_view_company_information">Company Information</a></li>
                            <li><a class="dropdown-item" href="/company_information/employee">Employee</a></li>
                            <li><a class="dropdown-item" href="/company_information/customer">Customer</a></li>
                            <li><a class="dropdown-item" href="/company_information/product">Product</a></li>
                            <li><a class="dropdown-item" href="/company_information/supplier">Supplier</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle p-2 bg-warning  text-white" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Inventory Management  </a><!-- 6 -->
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/inventory_management/material">Material</a></li>
                            <li><a class="dropdown-item" href="/inventory_management/material_stock">Material Stock</a></li>
                            <li><a class="dropdown-item" href="/inventory_management/material_receive">Material Receive</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle p-2 bg-success text-white" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Purchasing  Material  </a><!-- 7 -->
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/purchasing_material/multi_table_view_purchasing_material">Multi-Table View</a></li>
                            <li><a class="dropdown-item" href="/purchasing_material/material_supplier">Material Supplier</a></li>
                            <li><a class="dropdown-item" href="/purchasing_material/require">Require</a></li>
                            <li><a class="dropdown-item" href="/purchasing_material/purchase">Purchase</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle p-2  bg-secondary text-white" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Other functions</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="/upload_image/">Upload Image </a>
                                <a class="dropdown-item" href="/index">pictures</a>
                                <a class="dropdown-item" href="/calculator/calculator">calculator</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Master</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link active p-3 mb-2 bg-secondary text-white " href="/REP_mind_map">REP mind map</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active p-3 mb-2 bg-primary text-white" href="/Progress_Table">Progress Table</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle p-3 mb-2 bg-danger text-white" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <!-- 1 -->
                                Product Quotation Detail
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                                <li><a class="dropdown-item" href="/product_quotation_detail">Product Quotation Detail</a></li>
                                <li><a class="dropdown-item" href="/product_quotation_detail/marketing_order">Marketing Order</a></li>
                                <li><a class="dropdown-item" href="/product_quotation_detail/sales_order">Sales_Order Order</a></li><!-- sales_order -->
                                <li><a class="dropdown-item" href="/product_quotation_detail/product_sales_records">Product Sales_Order Records </a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle p-3 mb-2 bg-warning text-white" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <!-- 2 -->
                                Project_Sales_Item Management
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                                <li><a class="dropdown-item" href="/project_management/project_sales_item">Project_Sales_Item Sales Item </a></li><!-- project_sales_item -->
                                <li><a class="dropdown-item" href="/project_management/planning_new_product_projects ">Planning New product project_sales_items   </a></li>
                                <li><a class="dropdown-item" href="/project_management/project_dashboard">Project_Sales_Item Dashboard </a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle p-3 mb-2 bg-success text-white" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <!-- 3 -->
                                Production Product
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                                <li><a class="dropdown-item" href="/production_product/multi_table_view_production_product">Multi-Table View</a></li>
                                <li><a class="dropdown-item" href="/production_product/bom">BOM </a></li>
                                <li><a class="dropdown-item" href="/production_product/process">Process</a></li>
                                <li><a class="dropdown-item" href="/production_product/resource">Resource</a></li>
                                <li><a class="dropdown-item" href="/production_product/machine">Machine</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle p-3 mb-2 bg-info text-white" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <!-- 4 -->
                                Company Information
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                                <li><a class="dropdown-item" href="/product_inspection/multi_table_view_product_inspection">Multi-Table View</a></li>
                                <li><a class="dropdown-item" href="/product_inspection/product_good">Product good </a></li>
                                <li><a class="dropdown-item" href="/product_inspection/product_reject">Product Reject</a></li>
                                <li><a class="dropdown-item" href="/product_inspection/packaging">Packaging</a></li>
                                <li><a class="dropdown-item" href="/product_inspection/delivery">Delivery</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle p-3 mb-2 bg-primary text-white" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <!-- 5 -->
                                Product Inspection
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                                <li><a class="dropdown-item" href="/company_information/multi_table_view_company_information">Multi-Table View</a></li>
                                <li><a class="dropdown-item" href="/company_information/employee">Employee</a></li>
                                <li><a class="dropdown-item" href="/company_information/customer">Customer</a></li>
                                <li><a class="dropdown-item" href="/company_information/product">Product</a></li>
                                <li><a class="dropdown-item" href="/company_information/supplier">Supplier</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle p-3 mb-2 bg-warning text-white" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <!-- 6 -->
                                Inventory Management
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                                <li><a class="dropdown-item" href="/inventory_management/material">Material</a></li>
                                <li><a class="dropdown-item" href="/inventory_management/material_stock">Material Stock</a></li>
                                <li><a class="dropdown-item" href="/inventory_management/material_receive">Material Receive</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle p-3 mb-2 bg-success text-white" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <!-- 7 -->
                                Purchasing  Material
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                                <li><a class="dropdown-item" href="/purchasing_material/multi_table_view_purchasing_material">Multi-Table View</a></li>
                                <li><a class="dropdown-item" href="/purchasing_material/material_supplier">Material Supplier</a></li>
                                <li><a class="dropdown-item" href="/purchasing_material/require">Require</a></li>
                                <li><a class="dropdown-item" href="/purchasing_material/purchase">Purchase</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle p-3 mb-2 bg-secondary text-white" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Other functions
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                                <li><a class="dropdown-item" href="/upload_image/">Upload Image </a></li>
                                <li><a class="dropdown-item" href="/index">pictures</a></li>
                                <li><a class="dropdown-item" href="/calculator/calculator">calculator</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </nav>
</body>
</html>