<!DOCTYPE html>
<style>
    h1, div {
        text-align: center;
    }
</style>
<h1 class=" btn-dark">Master</h1>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Records</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/testing.css' %}" /><link rel="stylesheet" href="{% static 'css/13.css' %}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <nav class="navbar bg-light ">
        <div class="container-fluid">
            <nav class="navbar">
                <!-- Navbar content -->
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link p-3  bg-secondary text-white" aria-current="page" href="{% url 'logout' %}">Log Out</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-3 bg-primary text-white" href="/Progress_Table">Main page</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle p-3  bg-danger text-white " data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Marketing</a>
                        <ul class="dropdown-menu">
                            <li>
                            <li><a class="dropdown-item" href="/marketing/sales_order">Sales_Order</a></li>
                            <li><a class="dropdown-item" href="/marketing/customer">Customer </a></li>
                            <li><a class="dropdown-item" href="/marketing/project_sales_item">Project_Sales_Item </a></li>
                            <li><a class="dropdown-item" href="/marketing/bom">BOM </a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle p-3 bg-warning text-white" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Warehouse</a>
                        <ul class="dropdown-menu">
                            <li>
                            <li><a class="dropdown-item" href="/warehouse/material">Material</a></li>
                            <li><a class="dropdown-item" href="/warehouse/material_location">Material_Location</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle p-3  bg-success text-white" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Purchasing</a>
                        <ul class="dropdown-menu">
                            <li>
                            <li><a class="dropdown-item" href="/purchasing_material/supplier">Supplier</a></li>
                            <li><a class="dropdown-item" href="/purchasing_material/material_supplier">Material Supplier</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle p-3 bg-info text-white" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Production</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/production/machine">machine</a></li>
                            <li><a class="dropdown-item" href="/production/process">Process</a></li>
                            <li><a class="dropdown-item" href="/production/product">Product</a></li>
                            <li><a class="dropdown-item" href="/production/product_good">Product Good</a></li>
                            <li><a class="dropdown-item" href="/production/product_reject">Product Reject</a></li>
                            <li><a class="dropdown-item" href="/production/packaging">Packaging</a></li>
                            <li><a class="dropdown-item" href="/production/delivery">Delivery</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle p-3  bg-secondary text-white" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Other functions</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="/upload_image/">Upload Image </a>
                                <a class="dropdown-item" href="/index">pictures</a>
                                <a class="dropdown-item" href="/calculator/calculator">calculator</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Master</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link active p-3 mb-2 bg-secondary text-white " href="/REP_mind_map">REP mind map</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active p-3 mb-2 bg-primary text-white" href="/Progress_Table">Main page</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle p-3 mb-2 bg-danger text-white" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Marketing
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                                <li><a class="dropdown-item" href="/marketing/sales_order">Sales_Order</a></li>
                                <li><a class="dropdown-item" href="/marketing/customer">Customer </a></li>
                                <li><a class="dropdown-item" href="/marketing/project_sales_item">Project_Sales_Item </a></li>
                                <li><a class="dropdown-item" href="/marketing/bom">BOM </a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle p-3 mb-2 bg-warning text-white" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Warehouse
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                                <li><a class="dropdown-item" href="/warehouse/material">Material</a></li>
                                <li><a class="dropdown-item" href="/warehouse/material_location">Material_Location</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle p-3 mb-2 bg-success text-white" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Purchasing
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                                <li><a class="dropdown-item" href="/purchasing_material/supplier">Supplier</a></li>
                                <li><a class="dropdown-item" href="/purchasing_material/material_supplier">Material Supplier</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle p-3 mb-2 bg-info text-white" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Production
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                                <li><a class="dropdown-item" href="/production/machine">machine</a></li>
                                <li><a class="dropdown-item" href="/production/process">Process</a></li>
                                <li><a class="dropdown-item" href="/production/product">Product</a></li>
                                <li><a class="dropdown-item" href="/production/product_good">Product Good</a></li>
                                <li><a class="dropdown-item" href="/production/product_reject">Product Reject</a></li>
                                <li><a class="dropdown-item" href="/production/packaging">Packaging</a></li>
                                <li><a class="dropdown-item" href="/production/delivery">Delivery</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle p-3 mb-2 bg-secondary text-white" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Other functions
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                                <li><a class="dropdown-item" href="/upload_image/">Upload Image </a></li>
                                <li><a class="dropdown-item" href="/index">pictures</a></li>
                                <li><a class="dropdown-item" href="/calculator/calculator">calculator</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </nav>

    {% block title %}{% endblock %}
    {% block content %}
    {% if user.is_authenticated %}
    {% else %}
    <h1 class="text-white">You are not logged in</h1>
    <h1><a href="{% url 'login' %}">Log In</a></h1> |
    <h1><a href="{% url 'signup' %}">Sign Up</a></h1>
    {% endif %}
    {% endblock %}
    {% if user.is_authenticated %}
    <!--startprint-->
    <h1 class=" p-3 mb-2 bg-secondary text-white show">REP mind map</h1>
    <table class="table table-striped table-bordered table-sm">
        <thead class="thead-dark">
            <tr>
                <th>Marketing</th>
                <th>Warehouse</th>
                <th>Purchasing</th>
                <th>Production</th>
                <th>Management</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1. Quotation (Transaction)</td>
                <td> 1. Project_Sales_Item (work order transaction)</td>
                <td>1. Project_Sales_Item (transaction)</td>
                <td> 1. Project_Sales_Item (Work order transaction)</td>
                <td>1. Sales_Order (transaction) </td>
            </tr>
            <tr>
                <td>2. Sales_Order (transaction)</td>
                <td>2. Product (Finished Goods)</td>
                <td>2. Material</td>
                <td>2. Process (Job order transaction)</td>
                <td>2. Project_Sales_Item (transaction)</td>
            </tr>
            <tr>
                <td>2. Project_Sales_Item (transaction)</td>
                <td>2. Project_Sales_Item (transaction)</td>
                <td>3. Request (transaction)</td>
                <td>3. Machine</td>
                <td>3. Process (transaction) </td>
            </tr>
            <tr>
                <td>3. Product</td>
                <td>3. BOM</td>
                <td>4. Purchase (transaction)</td>
                <td>4. BOM</td>
                <td>4. Product Good (transaction)</td>
            </tr>
            <tr>
                <td>4. BOM.</td>
                <td>4. Material</td>
                <td>5. Material_Receive (transaction from Supplier to Warehouse)</td>
                <td>5. Material</td>
                <td>5. Product Reject (transaction)</td>
            </tr>
            <tr>
                <td>5. Material</td>
                <td>5. Request (transaction)</td>
                <td>6. Material location</td>
                <td>6. Material location</td>
            </tr>
            <tr>
                <td>6. Tool (Jigs)</td>
                <td>6. Purchase (transaction)</td>
                <td>7. Material supplier</td>
                <td>7. Product</td>
            </tr>
            <tr>
                <td></td>
                <td>7. Material_Receive (transaction)</td>
                <td>8. Supplier</td>
                <td>8. Quality (transaction)</td>
            </tr>
            <tr>
                <td></td>
                <td>9. Material location</td>
                <td>9. Issue (transaction from Warehouse to Production</td>
                <td>9. Delivery (transaction)</td>
            </tr>
        </tbody>
        <thead class="thead-dark">
            <tr>
                <th>Marketing</th>
                <th>Warehouse</th>
                <th>Purchasing</th>
                <th>Production</th>
                <th>Management</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1. Start</td>
                <td>1. Check Product quantity from Warehouse stock</td>
                <td>1. Create material Purchase order</td>
                <td>1. Create one or many Process (job orders) for the Project_Sales_Item (work order) </td>
                <td>1. Build the Supplier list</td>
            </tr>
            <tr>
                <td>2. Customer present drawings of Product.</td>
                <td>1.1 if enough stock quantity go to Delivery</td>
                <td>2. Wait for delivery to Material_Receive</td>
                <td>2. Keyin each Process (job orders) inherit Project_Sales_Item (work order) and assign Resource_ID (machine ID) , labor, time,... </td>
                <td>2. Build the Materials list</td>
            </tr>
            <tr>
                <td>3. Engineering study the requirements. </td>
                <td>1.2 else not enough stock quantity go to 2</td>
                <td>3. Material_Receive to Warehouse Material Location</td>
                <td>3. Execute Production (Prepare Stamping Tooling, Stamping…) processes. </td>
                <td>3. Build the Customer list </td>
            </tr>
            <tr>
                <td>4. Marketing give Quotation to Customer </td>
                <td>2. Check the BOM and the Material stock quantity </td>
                <td>4. Update Material quantity</td>
                <td>4. Check If the finished product is good!? fail product go to Product Reject </td>
                <td>4. Build the Product list</td>
            </tr>
            <tr>
                <td>5. Customer accept Sales_Order order</td>
                <td>2.1 if enough material stock quantity then Issue to Production execute the Project_Sales_Item (work order) </td>
                <td>5. Issue request Material quantity to Project_Sales_Item (work order) </td>
                <td>5. Product good go to Packaging if no need assembly and Coating process. </td>
                <td>5. Build the BOM list</td>
            </tr>
            <tr>
                <td> 6. Create a project_sales_item for Sales_Order order</td>
                <td>2.2 else not enough material stock quantity need to Request (Material Requisition) go to Purchasing </td>
                <td>6. go to Production </td>
                <td>6. Else go to assembly process and Packaging if no need subcontract to supplier for coating process</td>
                <td>6. Build the Resource (machines) list </td>
            </tr>
            <tr>
                <td>7. Go to Warehouse</td>
                <td></td>
                <td></td>
                <td>7. Go to Supplier for Coating process and then to Packaging. </td>
                <td>7. Build the om Product Good accumulate the quantity to Project_Sales_Item work order</td>
            </tr>
            <tr>
                <td>
                    A. One Sales_Order order may have many
                    Project_Sales_Item
                </td>
                <td></td>
                <td></td>
                <td>8. Packaging the product according to prescribed bulk quantities per box. </td>
                <td>A. Enquiry the Material quantity requirements (MRP) from Product quantity </td>
            </tr>
            <tr>
                <td>B. One Project_Sales_Item to one Product</td>
                <td></td>
                <td></td>
                <td>9, Complete Process (job order</td>
                <td>B. Enquiry the Product COST (ERP) from Process and Resource involved. </td>
            </tr>
            <tr>
                <td>C. One or Many Material from one Product</td>
                <td></td>
                <td></td>
                <td>10. Send to Warehouse stock</td>
                <td>C. Enquiry the productivity of Sales_Order or Project_Sales_Item or Process</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>11. Complete Project_Sales_Item (work order) </td>
                <td>D. Enquiry the best option of Project_Sales_Item or Process scheduling </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>12. Warehouse send to Customer</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>13. Complete Sales_Order (customer order) </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>14. End. </td>
            </tr>
        </tbody>

    </table>
    <!--endprint-->
    <br>
    <br>
    <center>
    </center>
    <input type="button" value="打印此页面" onclick="printpage()" />
    <script>
        function printpage() {
            let oldStr = window.document.body.innerHTML; // 获取body的内容<!-- 可保存成 pdf档案  -->
            let start = "<!--startprint-->"; // 开始打印标识, 17个字符
            let end = "<!--endprint-->"; // 结束打印标识
            let newStr = oldStr.substr(oldStr.indexOf(start) + 17); // 截取开始打印标识之后的内容
            newStr = newStr.substring(0, newStr.indexOf(end)); // 截取开始打印标识和结束打印标识之间的内容
            window.document.body.innerHTML = newStr; // 把需要打印的指定内容赋给body
            window.print(); // 调用浏览器的打印功能打印指定区域
            window.document.body.innerHTML = oldStr; // body替换为原来的内容
        }
    </script>
</body>
</html>
{% endif %}