<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Records</title>
    {% load static %}
    <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"/>  !-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <style>
        h1, div {
            text-align: center;
        }
    </style>
    <h1>Master</h1>
    <h1 class=" btn-dark">Master</h1>
    <nav class="navbar bg-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Master</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link active p-3 mb-2 bg-primary text-white" href="/order/main_page">Main page</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle p-3 mb-2 bg-danger text-white" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Order
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                                <li><a class="dropdown-item" href="/order/sales">Sales</a></li>
                                <li><a class="dropdown-item" href="/order/customer">Customer </a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle p-3 mb-2 bg-warning text-white" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Warehouse
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                                <li><a class="dropdown-item" href="/order/bom">BOM</a></li>
                                <li><a class="dropdown-item" href="/order/material">Material</a></li>
                                <li><a class="dropdown-item" href="/order/material_location">Material_Location</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle p-3 mb-2 bg-success text-white" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Puchasing
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                                <li><a class="dropdown-item" href="/order/supplier">Supplier</a></li>
                                <li><a class="dropdown-item" href="/order/material_supplier">Material Supplier</a></li>
                                <li><a class="dropdown-item" href="/order/product_material">Product Material</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle p-3 mb-2 bg-info text-white" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Production
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                                <li><a class="dropdown-item" href="/order/machine">machine</a></li>
                                <li><a class="dropdown-item" href="/order/process">Process</a></li>
                                <li><a class="dropdown-item" href="/order/product">Product</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle p-3 mb-2 bg-primary text-white" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Product
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                                <li><a class="dropdown-item" href="/order/product_material">Product Material</a></li>
                                <li><a class="dropdown-item" href="/order/product_good">Product Good</a></li>
                                <li><a class="dropdown-item" href="/order/product_reject">Product Reject</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle p-3 mb-2 bg-secondary text-white" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Other functions
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                                <li><a class="dropdown-item" href="/upload_image/">Upload Image </a></li>
                                <li><a class="dropdown-item" href="/index">pictures</a></li>
                                <li><a class="dropdown-item" href="/calculator/calculator">calculator</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </nav>
    {% block title %}{% endblock %}

    {% block content %}
    {% if user.is_authenticated %}
    {% else %}
    <h1 class="text-white">You are not logged in</h1>
    <h1><a href="{% url 'login' %}">Log In</a></h1> |
    <h1><a href="{% url 'signup' %}">Sign Up</a></h1>
    {% endif %}
    {% endblock %}
    {% if user.is_authenticated %}
    <nav class="navbar" style="background-color: #e3f2fd;">
        <!-- Navbar content -->
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link p-3 mb-2 bg-secondary text-white" aria-current="page" href="{% url 'logout' %}">Log Out</a>
            </li>
            <li class="nav-item">
                <a class="nav-link p-3 mb-2 bg-primary text-white" href="/main_page">Main page</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle p-3 mb-2 bg-danger text-white " data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Order</a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" href="/order/sales">Sales</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/order/customer">Customer </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle p-3 mb-2 bg-warning text-white" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Warehouse</a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" href="/order/bom">BOM</a>
                        <a class="dropdown-item" href="/order/material">Material</a>
                        <a class="dropdown-item" href="/order/material_location">Material_Location</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle p-3 mb-2 bg-success text-white" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Puchasing</a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" href="/order/supplier">Supplier</a>
                        <a class="dropdown-item" href="/order/material_supplier">Material Supplier</a>
                        <a class="dropdown-item" href="/order/product_material">Product Material</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle p-3 mb-2 bg-info text-white" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Production</a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" href="/order/machine">machine</a>
                        <a class="dropdown-item" href="/order/process">Process</a>
                        <a class="dropdown-item" href="/order/product">Product</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle p-3 mb-2 bg-primary text-white" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Product</a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" href="/order/product_material">Product Material</a>
                        <a class="dropdown-item" href="/order/product_good">Product Good</a>
                        <a class="dropdown-item" href="/order/product_reject">Product Reject</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle p-3 mb-2 bg-secondary text-white" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Other functions</a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" href="/upload_image/">Upload Image </a>
                        <a class="dropdown-item" href="/index">pictures</a>
                        <a class="dropdown-item" href="/calculator/calculator">calculator</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <!--startprint-->
    <h1 class="p-3 mb-2 bg-danger text-white">Customer</h1>
    <table class="table table-striped table-bordered table-sm">
        <thead class="thead-dark">
            <tr>
                <th> ID</th>
                <th> Name</th>
                <th> Address</th>
                <th> Term</th>
                <th> Email</th>
                <th> Phone1</th>
                <th> Phone2</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
            <tr>
                <td>{{ customer.customer_id }}</td>
                <td>{{ customer.customer_name }}</td>
                <td>{{ customer.address }}</td>
                <td>{{ customer.term }}</td>
                <td>{{ customer.email }}</td>
                <td>{{ customer.phone1}}</td>
                <td>{{ customer.phone2}}</td>
                <td>
                    <a href="edit_customer/{{ customer.customer_id }}"><span class="btn btn-success">Edit</span></a>
                    <a href="delete_customer/{{ customer.customer_id }}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!--endprint-->
    <br>
    <br>
    <center>
        <a href="emp_customer" class="btn btn-success">Add New Record</a>
    </center>
    {% if customers %}
    <nav aria-label="Page navigation example">
        {% for customer in customers %}
        {% endfor %}
        <span class="current">
            Page {{ customers.number }} of {{ customers.paginator.num_pages }}
        </span>
        <ul class="pagination">
            {% if customers.has_previous %}
            <li class="page-item"><a class="page-link" href="?page1={{ customers.previous_page_number }}"> previous </a></li>
            {% endif %}
            <li class="page-item"><a class="page-link" href="?page1=1">1</a></li>
            <li class="page-item"><a class="page-link" href="?page1=2">2</a></li>
            <li class="page-item"><a class="page-link" href="?page1=3">3</a></li>
            <li class="page-item"><a class="page-link" href="?page1=4">4</a></li>
            {% if customers.has_next %}
            <li class="page-item"><a class="page-link" href="?page1={{ customers.next_page_number }}"> next </a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
    <input type="button" value="打印此页面" onclick="printpage()" />
    <script>
        function printpage() {
            let oldStr = window.document.body.innerHTML; // 获取body的内容<!-- 可保存成 pdf档案  -->
            let start = "<!--startprint-->"; // 开始打印标识, 17个字符
            let end = "<!--endprint-->"; // 结束打印标识
            let newStr = oldStr.substr(oldStr.indexOf(start) + 17); // 截取开始打印标识之后的内容
            newStr = newStr.substring(0, newStr.indexOf(end)); // 截取开始打印标识和结束打印标识之间的内容
            window.document.body.innerHTML = newStr; // 把需要打印的指定内容赋给body
            window.print(); // 调用浏览器的打印功能打印指定区域
            window.document.body.innerHTML = oldStr; // body替换为原来的内容
        }
    </script>
</body>
</html>
{% endif %}