<!DOCTYPE html>
{% include 'gg.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/A2.css' %}" />
</head>
<body>
    <div class="box">
        <form method="POST" class="post-form" action="/production/update_machine/{{machine.MachineID}}">
            {% csrf_token %}
            <div class="container">
                <h3>Machine Update Details</h3>
                <br>
                <div class="input-group mb-3">
                    <span class="input-group-text">Machine ID</span>
                    <input type="text" class="form-control" placeholder="MachineID" aria-label="Username" name="MachineID" id="MachineID" required maxlength="100" value="{{ machine.MachineID }}">
                    <span class="input-group-text">machine Name </span>
                    <input type="text" class="form-control" placeholder="machine_name" name="machine_name" id="id_machine_name" required maxlength="100" value="{{ machine.machine_name }}">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">unit_price</span>
                    <input type="text" class="form-control" placeholder="unit_price" name="unit_price" id="id_unit_price" required maxlength="100" value="{{ machine.unit_price }}">
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
                <button href="material" class="btn btn-success">return</button>
            </div>
        </form>
    </div>
</body>
</html>  