<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    {% load static %}
<!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"/>  !-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"></head>
 <style>
 p,div,h3,h4,a,h1{text-align:center;}
 </style>
     <div class="header">
    <form method="POST" class="post-form" action="/marketing/update_sales/{{sales.sales_id}}">
        {% csrf_token %}
        <div class="container">
            <h3>Sales Update Details</h3>
            <div class="form-group row">
                <label class="col-md-1 col-form-label"></label>
                <div class="col-md-4">
                </div>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Sales_ID</span>
                <input type="text" class="form-control" placeholder="sales_id" aria-label="sales_id" type="text" name="sales_id" id="id_sales_id" required maxlength="254" class="form-control" value="{{ sales.sales_id }}">
            </div>
            <br>
            <div class="input-group mb-3">
                <span class="input-group-text">Customer ID</span>
                <input type="text" class="form-control" placeholder="customer_id" aria-label="Username" type="text" name="customer_id" id="id_customer_id" required maxlength="20" class="form-control" value="{{ sales.customer_id }}">
                <span class="input-group-text">Customer Name</span>
                <input type="text" class="form-control" placeholder="customer_name" aria-label="Server" type="text" name="customer_name" id="id_customer_name" required maxlength="100" class="form-control" value="{{ sales.customer_name }}">
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-text">term</span>
                <textarea class="form-control" aria-label="With textarea" type="text" name="term" id="id_term" required maxlength="100" class="form-control" value="{{ sales.term }}">{{ sales.term }}</textarea>
            </div>
            <br>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Date</span>
                <input type="text" class="form-control" placeholder="date" aria-label="date" type="text" name="date" id="id_date" required maxlength="254" class="form-control" value="{{ sales.date }}">
            </div>
            <br>
            <h4>
                Start Time:<input type="datetime-local" id="id_start_time" name="start_time" required maxlength="25" value="{{ sales.start_time }}" />
                Finish Time:<input type="datetime-local" id="id_finish_time" name="finish_time" required maxlength="25" value="{{ sales.finish_time }}" />
            </h4>
            <br>
            <div class="input-group mb-3">
                <span class="input-group-text">Customer PO ID</span>
                <input type="text" class="form-control" placeholder="Id" aria-label="Username" type="text" name="customer_po_id" id="id_customer_po_id" required maxlength="100" class="form-control" value="{{ sales.customer_po_id }}">
                <span class="input-group-text">Product ID</span>
                <input type="text" class="form-control" placeholder="Name" aria-label="Server" type="text" name="product_id" id="id_product_id" required maxlength="100" class="form-control" value="{{ sales.product_id }}">
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-text">Description</span>
                <textarea class="form-control" aria-label="With textarea" type="text" name="description" id="id_description" required maxlength="100" class="form-control" value="{{ sales.description }}">{{ sales.description }}</textarea>
            </div>
            <br>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">quantity</span>
                <input type="text" class="form-control" placeholder="quantity" aria-label="Server" type="text" name="quantity" id="id_quantity" required maxlength="20" class="form-control" value="{{ sales.quantity }}">
            </div>
            <br>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">unit_price</span>
                <input type="text" class="form-control" placeholder="unit_price" aria-label="Server" type="text" name="unit_price" id="id_unit_price" required maxlength="20" class="form-control" value="{{ sales.unit_price }}">
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Update</button>
            <button href="sales" class="btn btn-success">return</button>

        </div>
	</div>
    </form>
</body>
</html>  