<!DOCTYPE html>
{% include 'gg.html' %}
{% block title %}{% endblock %}
{% block content %}
{% if user.is_authenticated %}
{% else %}
<h1>You are not logged in(你还没有登录)</h1>
<h1><a type="button" class="btn btn-primary" href="{% url 'login' %}">Log In(登入)</a></h1>
<h1><a type="button" class="btn btn-success" href="{% url 'signup' %}">Sign Up(注册)</a></h1>
{% endif %}
{% endblock %}
{% if user.is_authenticated %}
{% load widget_tweaks %}<!-- 用在改 form (使用 |attr:"class:form-control" ) -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/A2.css' %}" />
</head>
<body>
    <div class="box">
        <form method="POST" class="post-form" action="emp_material_receive">
            {% csrf_token %}
            <div class="container">
                <h3>Request Enter Details</h3>
                <div class="form-group row">
                    <label class="col-md-1 col-form-label"></label>
                    <div class="col-sm-4">
                    </div>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Material_Receive ID </span>
                    {{ form.MaterialReceiveID |attr:"class:form-control"|attr:"cols:20" }}
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Material ID</span>
                    {{ form.MaterialID |attr:"class:form-control"|attr:"cols:20" }}
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Supplier ID </span>
                    {{ form.SupplierID |attr:"class:form-control"|attr:"cols:20" }}
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Grade</span>
                    {{ form.grade |attr:"class:form-control"|attr:"cols:20" }}
                    <span class="input-group-text">Size</span>
                    {{ form.size |attr:"class:form-control"|attr:"cols:20" }}
                    <span class="input-group-text">Usage</span>
                    {{ form.usage |attr:"class:form-control"|attr:"cols:20" }}
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Quantity</span>
                    {{ form.quantity |attr:"class:form-control"|attr:"cols:20" }}
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Remarks</span>
                    {{ form.remarks |attr:"class:form-control"|attr:"cols:20" }}
                </div>
                <center><button type="submit" class="btn btn-primary">Submit</button></center>
            </div>
        </form>
    </div>
</body>
</html>
{% endif %}