<!DOCTYPE html>
{% include 'gg.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/A2.css' %}" />
</head>
<body>
    <div class="box">
        <form method="POST" class="post-form" action="/production/update_product_reject/{{product_reject.RejectbatchID}}">
            {% csrf_token %}
            <div class="container">
                <h3>Product Reject Update Details</h3>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Rejectbatch ID</span>
                    <input type="text" class="form-control" placeholder="RejectbatchID" aria-label="Username" name="RejectbatchID" id="id_rejectbatch_id" required maxlength="254" value="{{ product_reject.RejectbatchID }}">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Product ID</span>
                    <input type="text" class="form-control" placeholder="ProductID" aria-label="Username" name="ProductID" id="id_ProductID" required maxlength="100" value="{{ product_reject.ProductID }}">
                    <span class="input-group-text">Product Name </span>
                    <input type="text" class="form-control" placeholder="product_name" name="product_name" id="id_product_name" required maxlength="100" value="{{ product_reject.product_name }}">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Material ID</span>
                    <input type="text" class="form-control" placeholder="MaterialID" name="MaterialID" id="id_MaterialID" required maxlength="150" value="{{ product_reject.MaterialID }}">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Type</span>
                    <input type="text" class="form-control" placeholder="type" name="type" id="id_type" required maxlength="150" value="{{ product_reject.type }}">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Quantity</span>
                    <input type="text" class="form-control" placeholder="quantity" aria-label="Username" name="quantity" id="id_quantity" required maxlength="100" value="{{ product_reject.quantity }}">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Date</span>
                    <input type="text" class="form-control" placeholder="date" name="date" id="id_date" required maxlength="150" value="{{ product_reject.date }}">
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
                <button href="product_reject" class="btn btn-success">return</button>
            </div>

        </form>
    </div>
</body>
</html> 