<!DOCTYPE html>
<html lang="en">
{% include 'gg.html' %}
{% include 'Master.html' %}
<head>
    <meta charset="UTF-8">
    <title>Employee Records</title>
    {% load static %}
    <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"/>  !-->
</head>
<body>
    {% block title %}{% endblock %}
    {% block content %}
    {% if user.is_authenticated %}
    {% else %}
    <h1>You are not logged in(你还没有登录)</h1>
    <h1><a type="button" class="btn btn-primary" href="{% url 'login' %}">Log In(登入)</a></h1>
    <h1><a type="button" class="btn btn-success" href="{% url 'signup' %}">Sign Up(注册)</a></h1>
    {% endif %}
    {% endblock %}
    {% if user.is_authenticated %}
    <!--startprint-->
    <h1 class="p-3 mb-2 bg-danger text-white ">Packaging Material List</h1>
    <table class="table table-striped table-bordered table-sm">
        <thead class="thead-dark">
            <tr>
                <th>Packaging ID</th>
                <th>Packaging Name </th>
                <th>PackagingUnit</th>
                <th>PackagingType</th>
                <th>Size</th>
                <th>Heigh</th>
                <th>Width</th>
                <th>Length</th>
                <th>Color</th>
                <th>Model</th>
                <th>Packaging Location</th>
                <th>Quantity</th>
                <th>ProductCompany</th>
                <th>Defaul Stock Location</th>
                <th>Remarks</th>
            </tr>
        </thead>
        <tbody>
            {% for packaging in packagings %}
            <tr>

                <td>{{ packaging.PackagingID}}</td>
                <td>{{ packaging.packaging_name}}</td>
                <td>{{ packaging.packaging_unit}}</td>
                <td>{{ packaging.packaging_type}}</td>
                <td>{{ packaging.size}}</td>
                <td>{{ packaging.heigh}}</td>
                <td>{{ packaging.width}}</td>
                <td>{{ packaging.length}}</td>
                <td>{{ packaging.color}}</td>
                <td>{{ packaging.model}}</td>
                <td>{{ packaging.packaging_location}}</td>
                <td>{{ packaging.quantity}}</td>
                <td>{{ packaging.product_company}}</td>
                <td>{{ packaging.defaul_stock_location}}</td>
                <td>
                    <a type="button" href="edit_packaging/{{ packaging.PackagingID }}">
                        <span class="btn btn-success">
                            <!-- Alerts    图标-->
                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="信息：">
                                <use xlink:href="#info-fill">
                                </use>
                            </svg>Edit
                        </span>
                    </a>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <!-- Alerts    图标-->
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="危险：">
                            <use xlink:href="#exclamation-triangle-fill">
                            </use>
                        </svg>Delete
                    </button>
                </td>
            </tr>
            <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Delete Record</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete?(你确定要删除吗?)
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                <!-- Alerts    图标-->
                                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="信息：">
                                    <use xlink:href="#info-fill">
                                    </use>
                                </svg>
                                Close
                            </button>
                            <a href="delete_packaging/{{ packaging.PackagingID }}" class="btn btn-danger">
                                <!-- Alerts    图标-->
                                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="危险：">
                                    <use xlink:href="#exclamation-triangle-fill">
                                    </use>
                                </svg>Delete
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </tbody>
    </table>
    <!--endprint-->
    <br>
    <br>
    <center>
        <a href="emp_packaging" class="btn btn-success">Add New Record</a>
    </center>
    {% if packagings %}
    <nav aria-label="Page navigation example">
        {% for packaging in packagings %}
        {% endfor %}
        <span class="current">
            Page {{ packagings.number }} of {{ packagings.paginator.num_pages }}
        </span>
        <ul class="pagination">
            {% if packagings.has_previous %}
            <li class="page-item"><a class="page-link" href="?page1={{ packagings.previous_page_number }}"> previous </a></li>
            {% endif %}
            <li class="page-item"><a class="page-link" href="?page1=1">1</a></li>
            <li class="page-item"><a class="page-link" href="?page1=2">2</a></li>
            <li class="page-item"><a class="page-link" href="?page1=3">3</a></li>
            <li class="page-item"><a class="page-link" href="?page1=4">4</a></li>
            {% if packagings.has_next %}
            <li class="page-item"><a class="page-link" href="?page1={{ packagings.next_page_number }}"> next </a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
    <input type="button" value="print this page(打印此页面)" onclick="printpage()" />
    <script>
        function printpage() {
            let oldStr = window.document.body.innerHTML; // 获取body的内容<!-- 可保存成 pdf档案  -->
            let start = "<!--startprint-->"; // 开始打印标识, 17个字符
            let end = "<!--endprint-->"; // 结束打印标识
            let newStr = oldStr.substr(oldStr.indexOf(start) + 17); // 截取开始打印标识之后的内容
            newStr = newStr.substring(0, newStr.indexOf(end)); // 截取开始打印标识和结束打印标识之间的内容
            window.document.body.innerHTML = newStr; // 把需要打印的指定内容赋给body
            window.print(); // 调用浏览器的打印功能打印指定区域
            window.document.body.innerHTML = oldStr; // body替换为原来的内容
        }
    </script>
</body>
</html>
{% endif %}