V
    <!--startprint-->
    <h1 class="p-3 mb-2 bg-secondary text-white">Product Reject </h1>
    <table class="table table-striped table-bordered table-sm">
        <thead class="thead-dark">
            <tr>
                <th>Rejectbatch ID</th>
                <th>Product ID </th>
                <th>Product Name</th>
                <th>Type  </th>
            </tr>
        </thead>
        <tbody>
            {% for product_reject in product_rejects %}
            <tr>
                <td>{{ product_reject.rejectbatch_id }}</td>
                <td>{{ product_reject.product_id }}</td>
                <td>{{ product_reject.product_name }}</td>
                <td>{{ product_reject.type }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <thead class="thead-dark">
            <tr>
                <th>Quantity</th>
                <th>Date</th>
                <th>Material ID</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product_reject in product_rejects %}
            <tr>
                <td>{{ product_reject.quantity }}</td>
                <td>{{ product_reject.date }}</td>
                <td>{{ product_reject.material_id }}</td>
                <td>
                    <a href="edit_product_reject/{{ product_reject.product_reject_id }}"><span class="btn btn-success">Edit</span></a>
                    <a href="delete_product_reject/{{ product_reject.product_reject_id }}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!--endprint-->
    <br>
    <br>
    <center>
        <a href="emp_product_reject" class="btn btn-success">Add New Record</a>
    </center>
    {% if product_rejects %}
    <nav aria-label="Page navigation example">
        {% for product_reject in product_rejects %}
        {% endfor %}
        <span class="current">
            Page {{ product_rejects.number }} of {{ product_rejects.paginator.num_pages }}
        </span>
        <ul class="pagination">
            {% if product_rejects.has_previous %}
            <li class="page-item"><a class="page-link" href="?page1={{ product_rejects.previous_page_number }}"> previous </a></li>
            {% endif %}
            <li class="page-item"><a class="page-link" href="?page1=1">1</a></li>
            <li class="page-item"><a class="page-link" href="?page1=2">2</a></li>
            <li class="page-item"><a class="page-link" href="?page1=3">3</a></li>
            <li class="page-item"><a class="page-link" href="?page1=4">4</a></li>
            {% if product_rejects.has_next %}
            <li class="page-item"><a class="page-link" href="?page1={{ product_rejects.next_page_number }}"> next </a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
    <input type="button" value="打印此页面" onclick="printpage()" />
    <script>
        function printpage() {
            let oldStr = window.document.body.innerHTML; // 获取body的内容<!-- 可保存成 pdf档案  -->
            let start = "<!--startprint-->"; // 开始打印标识, 17个字符
            let end = "<!--endprint-->"; // 结束打印标识
            let newStr = oldStr.substr(oldStr.indexOf(start) + 17); // 截取开始打印标识之后的内容
            newStr = newStr.substring(0, newStr.indexOf(end)); // 截取开始打印标识和结束打印标识之间的内容
            window.document.body.innerHTML = newStr; // 把需要打印的指定内容赋给body
            window.print(); // 调用浏览器的打印功能打印指定区域
            window.document.body.innerHTML = oldStr; // body替换为原来的内容
        }
    </script>
</body>
</html>
{% endif %}