<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    {% load static %}
<!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"/>  !-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"></head>

     <div class="header">
    <form method="POST" class="post-form" action="/update3/{{material.id}}">
        {% csrf_token %}
        <div class="container">
            <br>
            <div class="form-group row">
                <label class="col-md-1 col-form-label"></label>
                <div class="col-md-4">
                    <h3>Update Details</h3>
                </div>
            </div>
			<div class="form-group row">
                <label class="col-md-2 col-form-label">Id:</label>
                <div class="col-md-4">
                    <input type="text" name="eidb" id="id_eidb" required maxlength="20" value="{{ material.eidb }}" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label">part no:</label>
                <div class="col-md-4">
                    <input type="text" name="epart_no" id="id_epart no" required maxlength="100" value="{{ material.epart_no }}" />
                </div>
            </div>
			<div class="form-group row">
                <label class="col-md-2 col-form-label"> grade:</label>
                <div class="col-md-4">
                    <input type="text" name="egrade" id="id_egrade" required maxlength="100" value="{{ material.egrade }}" />
                </div>
            </div>
			<div class="form-group row">
                <label class="col-md-2 col-form-label">size:</label>
                <div class="col-md-4">
                    <input type="text" name="esize" id="id_esize" required maxlength="100" value="{{ material.esize }}" />
                </div>
            </div>
		    <div class="form-group row">
		       <p class="solid">select
			    <label for="select" class="col-md-2 col-form-label"></label>
			 <select id="select" name="select">
               <option value="categeory">categeory</option>
               <option value="buy_part">buy part</option>
               <option value="material">material</option>
	           <option value="packaging_material">packaging material</option>
			 </select>
			 </p>
			 </div>
	      <button type="submit" class="button">Update3
            <div class="form-group row">
                <label class="col-md-1 col-form-label"></label>
                <div class="col-md-4">
			    </div>
	        </div>	
			</button>
        </div>
	</div>
    </form>
</body>
</html>  