<!DOCTYPE html>
<style>
    p, div, h3, h4, a, h1 {
        text-align: center;
    }
</style>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    {% load static %}
    <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"/>  !-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
    <div class="header">
        <form method="POST" class="post-form" action="/purchasing/update_supplier/{{supplier.SupplierID}}">
            {% csrf_token %}
            <div class="container">
                <h3>Supplier Update Details</h3>
                <div class="form-group row">
                    <label class="col-md-1 col-form-label"></label>
                    <div class="col-md-4">
                    </div>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Supplier ID</span>
                    <input type="text" class="form-control" placeholder="Id" aria-label="Username" name="SupplierID" id="id_SupplierID" required maxlength="150" value="{{ supplier.SupplierID }}">
                    <span class="input-group-text">Supplier Name</span>
                    <input type="text" class="form-control" placeholder="Name" aria-label="Server" name="supplier_name" id="id_supplier_name" required maxlength="100" value="{{ supplier.supplier_name }}">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Supplier Type</span>
                    <input type="text" class="form-control" placeholder="supplier_type" aria-label="Username" name="supplier_type" id="id_supplier_type" required maxlength="254" value="{{ supplier.supplier_type }}">
                </div>
                <div class="input-group">
                    <span class="input-group-text">Address</span>
                    <textarea class="form-control" aria-label="With textarea" type="text" name="address" id="id_address" required maxlength="100" value="{{ supplier.address }}">{{ supplier.address }}</textarea>
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-text">Trem</span>
                    <textarea class="form-control" aria-label="With textarea" type="text" name="term" id="id_term" required maxlength="100" value="{{ supplier.term }}">{{ supplier.term }}</textarea>
                </div>
                <br>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Email</span>
                    <input type="text" class="form-control" placeholder="email" aria-label="Username" name="email" id="id_email" required maxlength="254" value="{{ supplier.email }}">
                </div>
                <br>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Phone1</span>
                    <input type="text" class="form-control" placeholder="phone1" aria-label="Server" name="phone1" id="id_phone1" required maxlength="150" value="{{ supplier.phone1 }}">
                </div>
                <br>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Phone2</span>
                    <input type="text" class="form-control" placeholder="phone2" aria-label="Server" name="phone2" id="id_phone2" required maxlength="150" value="{{ supplier.phone2 }}">
                </div>

                <button type="submit" class="btn btn-primary">Update</button>
                <button href="supplier" class="btn btn-success">return</button>

            </div>

        </form>
    </div>
</body>
</html>  