<!DOCTYPE html>
<style>
    p, div, h3, h4, a, h1, input {text-align: center;  }
</style>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    {% load static %}
    <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"/>  !-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>


{% block title %}{% endblock %}

{% block content %}
{% if user.is_authenticated %}
{% else %}
<h1>You are not logged in</h1>
<h1><a href="{% url 'login' %}">Log In</a></h1> |
<h1><a href="{% url 'signup' %}">Sign Up</a></h1>
{% endif %}
{% endblock %}
{% if user.is_authenticated %}
{% load widget_tweaks %}
<body>
    <div class="header">
        <form method="POST" class="post-form" action="emp_customer">
            {% csrf_token %}
            <div class="container">
                <h3>Customer Enter Details</h3>
                <div class="form-group row">
                    <label class="col-md-1 col-form-label"></label>
                    <div class="col-sm-4">
                    </div>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Customer ID</span>
                    {{ form.customer_id |attr:"class:form-control"|attr:"cols:20" }}
                    <span class="input-group-text">Customer Name</span>
                    {{ form.customer_name |attr:"class:form-control"|attr:"cols:20" }}
                </div>
                <div class="input-group">
                    <span class="input-group-text">Address</span>
                    <textarea class="form-control" aria-label="With textarea" type="text" name="address" id="id_address" required maxlength="100" class="form-control" value="{{ form.address }}</textarea>
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-text">Term</span>
                    <textarea class="form-control" aria-label="With textarea" type="text" name="term" id="id_term" required maxlength="100" class="form-control" value="{{ form.term }}</textarea>
                </div>
                <br>
                <div class="input-group mb-3">
                    <span class="input-group-text">Email</span>
                    {{ form.email |attr:"class:form-control"|attr:"cols:20" }}
                </div>
                <br>
                <div class="input-group mb-3">
                    <span class="input-group-text">Phone1</span>
                    {{ form.phone1 |attr:"class:form-control"|attr:"cols:20" }}
                    <span class="input-group-text">Phone2</span>
                    {{ form.phone2 |attr:"class:form-control"|attr:"cols:20" }}
                </div>
                <center><button type="submit" class="btn btn-primary">Submit</button></center>
            </div>
        </form>
    </div>
</body>
</html>
{% endif %} 